<div id="body" data-page="home">
  <!--Không cho người dùng right click tại đây-->
  <div class="home-main body-main" oncontextmenu="return false;">
    <div class="home-main-ornament">

    </div>
    <div class="body-wrapper">
      <div class="home-main-wrapper">
        <h1 class="home-main-title body-main-title font-sans-light">Ươm mầm giá trị thiên nhiên.</h1>
        <h4 class="home-main-subtitle body-main-subtitle font-sans-regular" style="max-width: 520px;">Mộc Nhiên Farm cung cấp các loại giống cây trồng đa dạng được sưu tầm từ khắp nơi và vận chuyển trên toàn quốc.</h4>
        
        <!--<h4 class="home-main-subtitle body-main-subtitle font-sans-regular">Giải pháp nhân giống cây trồng tự nhiên với giá cả cạnh tranh nhất.</h4>-->
        <!--<a href="" [routerLink]="['/dang-nhap']" class="home-main-register font-sans-bold">Đăng nhập để bắt đầu</a>-->
      </div>
      <div class="home-main-illustration">

      </div>
    </div>
    <div class="home-main-split noselect">
      <div class="home-main-split-shape"></div>
      <div class="home-main-split-mask"></div>
    </div>
  </div>
</div>