.uk-search-navbar  {
    width: 100%;
    .uk-search-icon:not(.uk-search-icon-flip)+.uk-search-input {
        padding-left: 60px;
    }
}

.sk-cursor-hover {
    cursor: pointer;
}

.sk-no-hover:hover {
    background-color: inherit;
}