<div class="sk-navbar-container">
  <div class="uk-container uk-container-expand">
    <nav class="uk-navbar-container uk-margin" uk-navbar>

      <div class="uk-navbar-left" *ngIf="mode === 'search-dialog'">
        <a class="uk-navbar-toggle" href="#modal-search" uk-search-icon uk-toggle></a>
      </div>

      <div class="uk-navbar-left" *ngIf="mode === 'search-textbox'">
        <div class="uk-navbar-item">
          <form class="uk-search uk-search-navbar">
            <span uk-search-icon></span>
            <input class="uk-search-input" type="search" placeholder="Tìm sản phẩm..." spellcheck=false>
          </form>
        </div>
      </div>
      <!--Shown on small devices-->
      <!--<div class="uk-navbar-right uk-hidden@m">
        <sk-product-menu-mobile [menu]="menu"></sk-product-menu-mobile>
      </div>-->
      <!--Hidden on small devices-->
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav" *ngIf="menu">
          <li>
            <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Thảo dược' }">Thảo dược</a>
            <div class="uk-navbar-dropdown uk-width-large" uk-drop="boundary: !nav; boundary-align: true; pos: bottom-center">
              <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
                <div>
                  <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories" *ngIf="menu.herbNhapNgoaiMenu">
                    <li class="uk-nav-header">
                      <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Thảo dược nhập ngoại' }">Nhập ngoại</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li *ngFor="let menuItem of menu.herbNhapNgoaiMenu"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword, isExact: !!menuItem.isExact }">{{ menuItem.text }}</a></li>
                  </ul>
                </div>
                <div>
                  <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories" *ngIf="menu.herbTrongNuocMenu">
                    <li class="uk-nav-header">
                      <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Thảo dược trong nước' }">Trong nước</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li *ngFor="let menuItem of menu.herbTrongNuocMenu"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword, isExact: !!menuItem.isExact }">{{ menuItem.text }}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Giống hoa' }">Giống hoa</a>
            <div class="uk-navbar-dropdown uk-width-large" uk-drop="boundary: !nav; boundary-align: true; pos: bottom-center">
              <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories uk-column-1-2@s uk-column-1-3@m" *ngIf="menu.flowerMenu">
                <li *ngFor="let menuItem of menu.flowerMenu"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword, isExact: !!menuItem.isExact }">{{ menuItem.text }}</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Cây cảnh' }">Cây cảnh</a>
            <div class="uk-navbar-dropdown uk-width-large" uk-drop="boundary: !nav; boundary-align: true; pos: bottom-center; delay-hide: 1200">
              <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories uk-column-1-2" *ngIf="menu.ornamentalPlantMenu">
                <li *ngFor="let menuItem of menu.ornamentalPlantMenu"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword, isExact: !!menuItem.isExact }">{{ menuItem.text }}</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Cây ăn trái' }">Cây ăn trái</a>
            <div class="uk-navbar-dropdown uk-width-large" uk-drop="boundary: !nav; boundary-align: true; pos: bottom-center">
              <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
                <div>
                  <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories" *ngIf="menu.fruitTreeNhietDoiMenu">
                    <li class="uk-nav-header">
                      <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Cây ăn trái nhiệt đới' }">Nhiệt đới</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li *ngFor="let menuItem of menu.fruitTreeNhietDoiMenu"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword, isExact: !!menuItem.isExact }">{{ menuItem.text }}</a></li>
                  </ul>
                </div>
                <div>
                  <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories" *ngIf="menu.fruitTreeOnDoiMenu">
                    <li class="uk-nav-header">
                      <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Cây ăn trái ôn đới' }">Ôn đới</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li *ngFor="let menuItem of menu.fruitTreeOnDoiMenu"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword, isExact: !!menuItem.isExact }">{{ menuItem.text }}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </nav>
  </div>
</div>

<div id="modal-search" class="uk-modal-full uk-modal" uk-modal *ngIf="mode === 'search-dialog'">
  <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
    <button class="uk-modal-close-full" type="button" uk-close></button>
    <form class="uk-search uk-search-large">
      <input class="uk-search-input uk-text-center" type="search" placeholder="Bạn muốn tìm gì?" autofocus spellcheck=false>
    </form>
  </div>
</div>