<div class="sk-navbar-container" uk-sticky>
  <div class="uk-container uk-container-expand">
    <nav class="uk-navbar-container uk-margin" uk-navbar>

      <div class="uk-navbar-left" *ngIf="mode === 'search-dialog'">
        <a class="uk-navbar-toggle" href="#modal-search" uk-search-icon uk-toggle></a>
      </div>

      <div class="uk-navbar-left" *ngIf="mode === 'search-textbox'">
        <div class="uk-navbar-item">
          <div class="uk-search uk-search-navbar">
            <span uk-search-icon></span>
            <input class="uk-search-input" type="search" placeholder="Tìm sản phẩm..." spellcheck=false [ngModel]="searchText" (input)="onSearchInput($event.target.value)">
          </div>
        </div>
      </div>
      <!--Shown on small devices-->
      <!--<div class="uk-navbar-right uk-hidden@m">
        <sk-product-menu-mobile [menu]="menu"></sk-product-menu-mobile>
      </div>-->


      <div class="uk-navbar-right">
        <!--Hidden on small devices-->
        <ul class="uk-navbar-nav" *ngIf="menu && (clientWidth >= 960)">
          <li>
            <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Thảo dược' }" class="sk-bold">Thảo dược</a>
            <div class="uk-navbar-dropdown uk-width-large" uk-drop="boundary: !nav; boundary-align: true; pos: bottom-center">
              <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid *ngIf="menu.thaoDuoc">
                <div>
                  <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories">
                    <li class="uk-nav-header">
                      <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Thảo dược nhập ngoại' }">Nhập ngoại</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li *ngFor="let menuItem of menu.thaoDuoc.nhapNgoai"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword }">{{ menuItem.text }}</a></li>
                  </ul>
                </div>
                <div>
                  <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories">
                    <li class="uk-nav-header">
                      <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Thảo dược trong nước' }">Trong nước</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li *ngFor="let menuItem of menu.thaoDuoc.trongNuoc"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword }">{{ menuItem.text }}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Giống hoa' }" class="sk-bold">Giống hoa</a>
            <div class="uk-navbar-dropdown uk-width-large" uk-drop="boundary: !nav; boundary-align: true; pos: bottom-center">
              <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories uk-column-1-2@s uk-column-1-3@m">
                <li *ngFor="let menuItem of menu.giongHoa"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword }">{{ menuItem.text }}</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Cây cảnh' }" class="sk-bold">Cây cảnh</a>
            <div class="uk-navbar-dropdown uk-width-large" uk-drop="boundary: !nav; boundary-align: true; pos: bottom-center; delay-hide: 1200">
              <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories uk-column-1-2">
                <li *ngFor="let menuItem of menu.cayCanh"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword }">{{ menuItem.text }}</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Cây ăn trái' }" class="sk-bold">Cây ăn trái</a>
            <div class="uk-navbar-dropdown uk-width-large" uk-drop="boundary: !nav; boundary-align: true; pos: bottom-center">
              <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid *ngIf="menu.cayAnTrai">
                <div>
                  <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories">
                    <li class="uk-nav-header">
                      <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Cây ăn trái nhiệt đới' }">Nhiệt đới</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li *ngFor="let menuItem of menu.cayAnTrai.nhietDoi"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword }">{{ menuItem.text }}</a></li>
                  </ul>
                </div>
                <div>
                  <ul class="uk-nav uk-dropdown-nav sk-product-sub-categories">
                    <li class="uk-nav-header">
                      <a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: 'Cây ăn trái ôn đới' }">Ôn đới</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li *ngFor="let menuItem of menu.cayAnTrai.onDoi"><a href="" [ngClass]="{'highlight': menuItem.highlight}" [routerLink]="['/san-pham']" [queryParams]="{ s: menuItem.keyword }">{{ menuItem.text }}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!--Show on small devices-->
        <div class="uk-offcanvas-content" *ngIf="menu && (clientWidth < 960)">

          <span uk-toggle="target: #product-menu-mobile" style="cursor: pointer; padding: 0 15px;" class="uk-navbar-toggle"><span uk-navbar-toggle-icon></span> 
            <span class="uk-margin-small-left uk-text-uppercase uk-text-muted uk-text-middle" style="font-size: .875rem;" *ngIf="clientWidth > 545">Danh mục</span>
          </span>


          <div id="product-menu-mobile" uk-offcanvas>
            <div class="uk-offcanvas-bar">

              <button class="uk-offcanvas-close" type="button" uk-close></button>

              <h3>Mộc Nhiên Farm</h3>

              <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true" *ngIf="menu">
                <li class="uk-parent">
                  <a (click)="onRoute(['/san-pham'], { queryParams: { s: 'Thảo dược' } }, false)">Thảo dược</a>
                  <ul class="uk-nav-sub" *ngIf="menu.thaoDuoc">
                    <li>
                      <a (click)="onRoute(['/san-pham'], { queryParams: { s: 'Thảo dược nhập ngoại' } }, true)">Nhập ngoại</a>
                      <ul>
                        <li *ngFor="let menuItem of menu.thaoDuoc.nhapNgoai">
                          <a (click)="onRoute(['/san-pham'], { queryParams: { s: menuItem.keyword, isExact: !!menuItem.isExact } }, true)" [ngClass]="{'highlight': menuItem.highlight}">{{ menuItem.text }}</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a (click)="onRoute(['/san-pham'], { queryParams: { s: 'Thảo dược trong nước' } }, true)">Trong nước</a>
                      <ul>
                        <li *ngFor="let menuItem of menu.thaoDuoc.trongNuoc">
                          <a (click)="onRoute(['/san-pham'], { queryParams: { s: menuItem.keyword, isExact: !!menuItem.isExact } }, true)" [ngClass]="{'highlight': menuItem.highlight}">{{ menuItem.text }}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="uk-parent">
                  <a (click)="onRoute(['/san-pham'], { queryParams: { s: 'Giống hoa' } }, false)">Giống hoa</a>
                  <ul class="uk-nav-sub">
                    <li *ngFor="let menuItem of menu.giongHoa">
                      <a (click)="onRoute(['/san-pham'], { queryParams: { s: menuItem.keyword, isExact: !!menuItem.isExact } }, true)" [ngClass]="{'highlight': menuItem.highlight}">{{ menuItem.text }}</a>
                    </li>
                  </ul>
                </li>
                <li class="uk-parent">
                  <a (click)="onRoute(['/san-pham'], { queryParams: { s: 'Cây cảnh' } }, false)">Cây cảnh</a>
                  <ul class="uk-nav-sub">
                    <li *ngFor="let menuItem of menu.cayCanh">
                      <a  (click)="onRoute(['/san-pham'], { queryParams: { s: menuItem.keyword, isExact: !!menuItem.isExact } }, true)" [ngClass]="{'highlight': menuItem.highlight}">{{ menuItem.text }}</a>
                    </li>
                  </ul>
                </li>
                <li class="uk-parent">
                  <a (click)="onRoute(['/san-pham'], { queryParams: { s: 'Cây ăn trái' } }, false)">Cây ăn trái</a>
                  <ul class="uk-nav-sub" *ngIf="menu.cayAnTrai">
                    <li>
                      <a (click)="onRoute(['/san-pham'], { queryParams: { s: 'Cây ăn trái nhiệt đới' } }, true)">Nhiệt đới</a>
                      <ul *ngIf="menu.fruitTreeNhietDoiMenu">
                        <li *ngFor="let menuItem of menu.cayAnTrai.nhietDoi">
                          <a (click)="onRoute(['/san-pham'], { queryParams: { s: menuItem.keyword, isExact: !!menuItem.isExact } }, true)" [ngClass]="{'highlight': menuItem.highlight}">{{ menuItem.text }}</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a (click)="onRoute(['/san-pham'], { queryParams: { s: 'Cây ăn trái ôn đới' } }, true)">Ôn đới</a>
                      <ul *ngIf="menu.fruitTreeOnDoiMenu">
                        <li *ngFor="let menuItem of menu.cayAnTrai.onDoi">
                          <a (click)="onRoute(['/san-pham'], { queryParams: { s: menuItem.keyword, isExact: !!menuItem.isExact } }, true)" [ngClass]="{'highlight': menuItem.highlight}">{{ menuItem.text }}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

              </ul>

              <hr/>
              <blockquote>
                <p class="uk-text-muted uk-text-small uk-text-justify" style="margin-top: 2rem;">
                  Khởi đầu từ một khu ban công của chung cư quận 2 Sài gòn vào 07/2015, Mộc Nhiên Farm được sinh ra với mong muốn đưa thiên
                  nhiên trở lại với mọi người, cho những mảng xanh len lỏi đến từng ngóc ngách của cuộc sống và xoa dịu đi
                  những ngột ngạt trong tâm hồn.
                </p>
                <p class="uk-text-muted uk-text-small uk-text-justify">Hãy lắng nghe những mầm xanh thỏ thẻ, cảm nhận sự dịu ngọt của hương hoa và hòa mình vào thiên nhiên với
                  các sản phẩm từ nông trại của chúng tôi!
                </p>
                <footer class="uk-text-muted uk-text-right">from Mộc Nhiên with <span style="padding-left: .3rem;" uk-icon="icon: heart; ratio: 0.75"></span></footer>
              </blockquote>


            </div>
          </div>

        </div>
      </div>

    </nav>
  </div>
</div>