<div id="body" data-page="home" class="uk-container">
  <div class="body-secondary">
    <div class="home-showcase body-mai">
      <div class="body-wrapper">
        <div class="home-showcase-overlay">
          <!--<h1 class="home-showcase-title body-main-title font-sans-semibold">Sự hài lòng của bạn - Niềm tự hào của chúng tôi.</h1>-->
          <img src="/assets/imgs/moc-nhien-slogan.svg" style="max-width: 40rem;" alt="">
          <div style="margin-bottom: 3rem;"></div>
          <!--<h4 class="home-showcase-subtitle body-main-subtite font-sans-regular">Tại Mộc Nhiên Farm, chúng tôi nghiên cứu các quy trình nhân giống cây trồng, hoa, thảo dược tự nhiên với chất lượng và giá cả cực kỳ cạnh tranh!</h4>-->
        </div>
      </div>
    </div>
  </div>
</div>