:host {
    flex-grow: 1;
    flex: auto;
}

form {
    margin-top: 5rem;
    margin-bottom: 3rem;
    min-width: 300px;
    
    input {
        border-radius: 500px;
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
    .uk-input:focus {
        // border-color: $sk-primary-color
    }
    .uk-form-icon {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
