h3 {
    margin-bottom: 0;
}

.sk-vertical-separator {
    margin-left: 1rem;
    margin-right: 1rem;
}

.sk-horizontal-separator {
    margin-top: .75rem;
    margin-bottom: 1rem;
}

.fa {
    color: #999;
    margin-right: 0.75rem;
}

p, li {
    font-size: .875rem;
}

a {
    text-decoration: none;
    color: #666;
}