<div class="uk-card uk-card-small uk-card-default uk-card-hover uk-visible-toggle" *ngIf="product">
  <div class="uk-card-media-top uk-inline" href="" [routerLink]="['/san-pham', product._id ]">
    <div class="ui label sk-counter uk-hidden-hover">
      <i class="cubes icon"></i> {{ product.soLuong | number }}
    </div>
    <img [src]="product.cover" alt="">
    <span class="ui right ribbon label uk-position-bottom" *ngIf="product.dacTinh"><span>{{ product.dacTinh }}</span></span>
  </div>
  <div class="uk-card-body" href="" [routerLink]="['/san-pham', product._id ]">
    <h3 class="uk-card-title">{{ product.ten }}</h3>

    <p *ngIf="product.trichDan" class="uk-text-small uk-text-justify">{{ product.trichDan }}</p>
  </div>
  <div class="uk-card-footer">
    <div class="subtitle uk-flex uk-flex-between ">
      <div>{{ product.giaBan | number }} ₫/{{ product.dvt }}</div>
      <div [ngSwitch]="isItemInCart">
        <div *ngSwitchCase="true"><button class="uk-button uk-button-default sk-button-effect sk-success" [routerLink]="['/gio-hang']">Trong giỏ</button></div>
        <div *ngSwitchDefault>
          <button class="uk-button uk-button-default sk-button-effect" (click)="addToCart(product);" [ngClass]="{'uk-button-danger': isHetHang}" [disabled]="isHetHang">
            {{ isHetHang ? 'Hết hàng' : 'Đặt mua' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>