.uk-card {
    display: flex;
    flex-direction: column;
    .uk-card-title {
        margin-bottom: 1rem;
        font-size: 1.275rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .subtitle {
        display: flex;
        align-items: center;
        // margin-top: 0;
        // margin-bottom: 0.75rem;
        // font-size: 1.15rem;
        color: #666;
        .auto {
            flex-grow: 1;
        }
    }
    p {
        margin-top: 0;
    }
    .uk-card-body {
        cursor: pointer;
        flex-grow: 1;
    }
}

.uk-button {
    font-size: .875rem;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.sk-counter {
    position: absolute;
    top: .8rem;
    right: .8rem;
}

.ribbon {
    left: calc(100% + 0rem + 1.2em) !important;
    font-weight: 500 !important;
    line-height: 1.25 !important;
    text-decoration: none;
}

.uk-card-body, .uk-card-media-top {
    outline: none;
}

.uk-button-danger {
    color: #ec2147;
    border-color: #ec2147;
}

.sk-price {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sk-success {
    border-color: #8DC15B;
    color: #8DC15B;
}
