<div class="sk-navbar-container">
  <div class="uk-container uk-container-expand">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="boundary-align: true; align: center;">
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="" [routerLink]="['/']">
          <canvas width="170" height="50" uk-svg src="/assets/imgs/moc_nhien_logo.svg"></canvas>
        </a>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <!--<li><a href="" [routerLink]="['/blogs']" [queryParams]="{cat: 'Bài viết mới'}">Blog</a></li>-->
          <li class="uk-visible@s"><a href="" [routerLink]="['/ho-tro-khach-hang']">Hỗ trợ</a></li>
          <li class="uk-visible@m">
            <a href="#">Liên hệ</a>
            <div class="uk-navbar-dropdown uk-width-large" uk-drop="boundary: !nav; boundary-align: true; pos: bottom-center;">
              <ul class="uk-nav uk-navbar-dropdown-nav uk-text-center">
                <!--<li><i class="fa fa-phone" aria-hidden="true"></i> (0932)-045.789 <span class="sk-vertical-separator">|</span> (08)-8235.654</li>-->
                <li><i class="fa fa-phone" aria-hidden="true"></i> (0933)-909.022</li>
                <li class="uk-nav-divider sk-horizontal-separator"></li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i> 110 Đường 766, Thôn 4, Đức Hạnh, Đức Linh, Bình Thuận</li>
                <li class="uk-nav-divider sk-horizontal-separator"></li>
                <div class="uk-text-center">
                  <a href="https://www.facebook.com/mocnhienfarm" target="_blank" class="uk-icon-button uk-margin-small-right" uk-icon="icon: facebook"></a>
                </div>
              </ul>
            </div>
          </li>
          <li><a href="" [routerLink]="['/don-hang']">Đơn hàng</a></li>
          <li><a href="" [routerLink]="['/gio-hang']">Giỏ hàng</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>