<!--<a class="uk-button uk-button-default" (click)="show()">Open</a>-->

<div id="modal-sections" #modal uk-modal="center: true">
  <form class="uk-modal-dialog" #addToCartForm="ngForm" (ngSubmit)="addToCart(addToCartForm)">
    <button class="uk-modal-close-default" type="button" uk-close (click)="clearProduct();"></button>
    
    <div class="uk-modal-header" *ngIf="product">
      <h2 class="uk-modal-title">{{ product?.ten }}</h2>
    </div>

    <div class="uk-modal-body" *ngIf="product">
      <div class="uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
          <img class="uk-border-rounded" [src]="product.cover"
            width="200" height="200" />
        </div>
        <div class="uk-width-expand@m">
          <div class="uk-form-horizontal uk-margin" spellcheck="false">
            <div class="uk-margin">

              <label class="uk-form-label" for="soLuong">Số lượng:</label>
              <div class="uk-form-controls">
                <input type="number" class="uk-input" name="soLuong" id="soLuong" style="max-width: 6rem;" 
                  [min]="1" [max]="product.soLuong" required autofocus [ngModel]="1"
                  [ngClass]="{'uk-form-danger': addToCartForm.invalid}">
              </div>
              <p class="text-right">Hiện đang sẵn có {{ product.soLuong | number }} cây.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="uk-modal-footer uk-text-right" *ngIf="product">
      <button class="uk-button uk-button-default" type="button" (click)="clearProduct(); hide()">Trở về</button>
      <button class="uk-button uk-button-primary" type="submit" [disabled]="addToCartForm.invalid">Thêm vào giỏ</button>
    </div>

  </form>
</div>