.description {
    max-width: 13rem;
}

i.green.icon, .green.title {
    color: #8DC15B !important;
}

i.blue.icon, .blue.title {
    color: #2489d8 !important;
}

i.orange.icon, .orange.title {
    color: #ff6358 !important;
}