<sk-menu-bar mode="search-dialog"></sk-menu-bar>
<sk-portal-hero></sk-portal-hero>

<sk-san-pham-hightlight [category]="'Sản phẩm bán chạy'"></sk-san-pham-hightlight>
<sk-san-pham-hightlight [category]="'Sản phẩm mới'"></sk-san-pham-hightlight>
<sk-san-pham-hightlight [category]="'Thảo dược'"></sk-san-pham-hightlight>
<sk-san-pham-hightlight [category]="'Giống hoa'"></sk-san-pham-hightlight>
<sk-san-pham-hightlight [category]="'Cây cảnh'"></sk-san-pham-hightlight>
<sk-san-pham-hightlight [category]="'Cây ăn trái'"></sk-san-pham-hightlight>

<sk-cam-ket-banner></sk-cam-ket-banner>