<!--<sk-menu-bar mode="search-dialog"></sk-menu-bar>-->
<sk-portal-hero></sk-portal-hero>

<sk-portal-secondary></sk-portal-secondary>

<sk-san-pham-hightlight [category]="'Sản phẩm bán chạy'" [products]="bestSellers"></sk-san-pham-hightlight>
<sk-san-pham-hightlight [category]="'Sản phẩm mới'" [products]="newReleases"></sk-san-pham-hightlight>
<sk-san-pham-hightlight [category]="'Cây lớn'" [products]="cayLons"></sk-san-pham-hightlight>
<sk-san-pham-hightlight [category]="'Thảo dược'" [products]="herbs"></sk-san-pham-hightlight>
<sk-san-pham-hightlight [category]="'Giống hoa'" [products]="flowers"></sk-san-pham-hightlight>
<sk-san-pham-hightlight [category]="'Cây cảnh'" [products]="ornamentalPlants"></sk-san-pham-hightlight>
<sk-san-pham-hightlight [category]="'Cây ăn trái'" [products]="fruitTrees"></sk-san-pham-hightlight>
