.uk-input:focus, .uk-select:focus, .uk-form-danger {
    margin-bottom: 1px;
}

.uk-input, .uk-select {
    padding-left: .875rem;
    padding-right: .875rem;
    
}

.uk-input[type="number"] {
    max-width: 6rem;
}

.sk-numeral {
    min-width: 10rem;
    display: inline-block;
}