<div class="uk-container" style="margin-bottom: 3rem;" *ngIf="product">
  <ul class="uk-breadcrumb" style="margin-top: .75rem; margin-bottom: 2rem;">
    <li><a href="" [routerLink]="['/san-pham']" [queryParams]="{ s: product.nhom }">{{ product.nhom }}</a></li>
    <li><span href="">{{ product.ten }}</span></li>
  </ul>

  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>

    <div class="uk-card-media-left uk-cover-container uk-inline-clip uk-transition-toggle" oncontextmenu="return false;">

      <img [src]="currentCoverUrl" alt="" uk-cover>
      <canvas width="600" height="400" class="sk-cursor-hover" style="display: block; width: 100%; height: 100%; background: transparent"
        href="#modal-center" uk-toggle></canvas>
      <div class="uk-position-relative uk-light" style="z-index: 999;">

        <div class="uk-position-bottom-center uk-position-medium">
          <ul class="uk-dotnav uk-flex-nowrap">
            <li class="uk-active" [ngClass]="{'uk-active': i === currentCoverIndex}" *ngFor="let cover of product.gallery; let i = index"
              (click)="setCurrentCoverUrl($event, i)"><a href="">Item 1</a></li>
          </ul>
        </div>
      </div>

      <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
        <p class="uk-h4 uk-margin-remove"><span style="color: transparent;">invisible</span></p>
      </div>

      <!--Overlay gallery Modal-->
      <div id="modal-center" uk-modal="center: true">
        <div class="uk-modal-dialog">
          <button class="uk-modal-close-outside" type="button" uk-close></button>
          <div oncontextmenu="return false;">
            <div class="uk-position-relative uk-light">
              <img [src]="currentCoverUrl" alt="">
              <div class="sk-dotnav-container">
                <div style="display: flex; align-items: center;">
                  <span class="d-inline-block uk-margin-small-right" uk-icon="icon: chevron-left" (click)="prevCover()"></span>
                  <span class="d-inline-block">{{ currentCoverIndex + 1 }} / {{ product.gallery.length }}</span>
                  <span class="d-inline-block uk-margin-small-left" uk-icon="icon: chevron-right" (click)="nextCover()"></span>
                </div>
                <!--<ul class="uk-dotnav uk-flex-nowrap">
                  <li class="uk-active" [ngClass]="{'uk-active': i === currentCoverIndex}" *ngFor="let cover of product.gallery; let i = index"
                    (click)="setCurrentCoverUrl($event, i)"><a href="">Item 1</a></li>
                </ul>-->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div>
      <div class="uk-card-body" style="padding-top: 1.5rem;">

        <p style="display: none">{{ product.id }}</p>

        <h3 class="uk-card-title" style="margin-bottom: .5rem; margin-top: .5rem;">{{ product.ten }}</h3>
        <p style="margin-top: 0;" *ngIf="product.tenKhac">({{ product.tenKhac }})</p>
        <p class="uk-text-justify">{{ product.gioiThieu }}</p>
        <table class="uk-table uk-table-small uk-table-divider">
          <tbody>
            <tr>
              <td>Mã hàng</td>
              <td><strong>{{ product.ma }}</strong></td>
            </tr>
            <tr>
              <td>Số lượng sẵn có</td>
              <td><span *ngIf="product.soLuong > 0">{{ product.soLuong | number }}</span><span *ngIf="product.soLuong <= 0">Hết hàng</span></td>
            </tr>
            <tr>
              <td>Giá bán</td>
              <td><strong>{{ product.giaBan | number }} ₫</strong> / {{ product.dvt }}</td>
            </tr>
            <tr>
              <td>Chiều cao</td>
              <td>{{ product.chieuCao }}</td>
            </tr>
          </tbody>
        </table>
        <div class="uk-text-right">
          <div [ngSwitch]="isItemInCart">
            <div *ngSwitchCase="true"><button class="uk-button uk-button-default sk-button-effect sk-success" [routerLink]="['/gio-hang']">Trong giỏ</button></div>
            <div *ngSwitchDefault>
              <button class="uk-button uk-button-default sk-button-effect" [ngClass]="{'uk-button-danger': isHetHang}" (click)="addToCart(product)"
                [disabled]="isHetHang">{{ isHetHang ? 'Hết hàng' : 'Đặt mua' }}</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="uk-child-width-1-2@m " style="margin-top: 3rem;" uk-grid>
    <div>
      <h3 class="uk-card-title">Mô tả sản phẩm</h3>
      <div [innerHTML]="product.moTaSanPham | safeHtml"></div>
    </div>
    <div>
      <h3 class="uk-card-title">Cách trồng và chăm sóc</h3>
      <div [innerHTML]="product.cachChamSoc | safeHtml"></div>
    </div>
  </div>
</div>

<!--Add to cart modal-->
<sk-add-to-cart-modal></sk-add-to-cart-modal>