.uk-button-danger {
    color: #ec2147;
    border-color: #ec2147;
}

.sk-cursor-hover {
    cursor: pointer;
}

.uk-modal {
    background: rgba(0, 0, 0, 0.75);
}

.sk-success {
    border-color: #8DC15B;
    color: #8DC15B;
}

.sk-dotnav-container {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}