.uk-button-danger {
    color: #ec2147;
    border-color: #ec2147;
}

.sk-cursor-hover {
    cursor: pointer;
}

.uk-modal {
    background: rgba(0, 0, 0, 0.75);
}

.sk-success {
    border-color: #8DC15B;
    color: #8DC15B;
}

.sk-dotnav-container {
    // position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: center;
}

i.fa {
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}