<sk-menu-bar mode="search-textbox"></sk-menu-bar>

<div class="uk-container" style="margin-bottom: 3rem;">
  <ul class="uk-breadcrumb" style="margin-top: .75rem; margin-bottom: 2rem;">
    <li><a href="" [routerLink]="['/']">Trang chính</a></li>
    <li><span href="">Giỏ hàng</span></li>
  </ul>
  <div>
    <table class="uk-table uk-table-divider">
      <thead>
        <tr>
          <th>Mã sản phẩm</th>
          <th>Tên sản phẩm</th>
          <th>Số lượng</th>
          <th class="uk-text-right">Đơn giá</th>
          <th class="uk-text-right">Thành tiền</th>
          <th class="uk-table-shrink"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Table Data</td>
          <td>Table Data</td>
          <td>Table Data</td>
          <td class="uk-text-right">Table Data</td>
          <td class="uk-text-right">Table Data</td>
          <td><a href="" uk-icon="icon: close"></a></td>
        </tr>
        <tr>
          <td>Table Data</td>
          <td>Table Data</td>
          <td>Table Data</td>
          <td class="uk-text-right">Table Data</td>
          <td class="uk-text-right">Table Data</td>
          <td><a href="" uk-icon="icon: close"></a></td>
        </tr>
        <tr>
          <td>Table Data</td>
          <td>Table Data</td>
          <td>Table Data</td>
          <td class="uk-text-right">Table Data</td>
          <td class="uk-text-right">Table Data</td>
          <td><a href="" uk-icon="icon: close"></a></td>
        </tr>
        <tr>
          <td colspan="6" class="uk-text-right">Tổng cộng: <strong>1,200,000 đ</strong></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="uk-flex uk-flex-between">
    <a class="uk-button uk-button-default sk-button-effect" [routerLink]="['/']">Chọn tiếp</a>
    <a class="uk-button uk-button-default sk-button-effect" [routerLink]="['/thanh-toan']">Thanh toán</a>
  </div>
</div>