.ng2-pagination {
  .current {
    background: #8DC15B !important;
    border-radius: 30%;
  }
  li {
    margin-right: .2rem !important;
  }
  a {
    text-decoration: none;
    border-radius: 30% !important;
    color: #666 !important;
  }
}